{% extends 'base.html' %} {% block css %} {% load static %}
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
{% endblock %} {% block title %} New! {% endblock %} {% block content %}
<div class="new-post_container">
  <form method="POST" action="">
    {% csrf_token %}
    <input type="text" placeholder="제목을 입력하세요!" name="title" />
    <textarea placeholder="내용을 입력하세요!" name="content"></textarea>
    <input id="new-post_btn" type="submit" value="작성하기" />
  </form>
</div>
{% endblock %}
