<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <nav id="navbar">
      <div class="navbar__logo">
        {% if request.user.is_authenticated %}
        <p>Current User : {{ request.user }}</p>
        {% else %}
        <p>currently not logged in</p>
        {% endif %}
      </div>
      <ul class="navbar__menu">
        <li class="navbar__menu__item">
          <a href="{% url 'Blog:new' %}">New</a>
        </li>
        <li class="navbar__menu__item">
          <a href="{% url 'Blog:home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="navbar__menu__item">
          <a href="{% url 'Accounts:logout'%}">로그아웃</a>
        </li>
        {% else %}
        <li><a href="{% url 'Accounts:login' %}">Login</a></li>
        <li><a href="{% url 'Accounts:signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
